/backend/node_modules
/frontend/node_modules
/backend/dist
/frontend/dist
docker-compose.yaml
/backend/Dockerfile
/frontend/Dockerfile
/backend/import-data.json
/init-db
/postgres-data
/backend/test
nginx.conf